<!--En profile es donde cargamos el dasboard y preferiblemente 
podriamos mostrar unas graficas donde muestre el maximo de hora trabajadas-->
<nav  class="navbar navbar-inverse">
    <div class="container-fluid">
  
      <ul class="nav navbar-nav">
        <li class="active"  ><a>Home</a></li>
  
      </ul>
      <ul class="nav navbar-nav">
        <li class="active" > <a
          class="nav-link"
          [routerLink]="['/personas']">
          <i class="fa fa-home fa-fw">Personas</i></a></li>
  
      </ul>
      <ul class="nav navbar-nav">
        <li class="active"  ><a>Actividades</a></li>
  
      </ul>
      <ul class="nav navbar-nav">
        <li class="active" > <a
          class="nav-link"
          [routerLink]="['/videooperacional']">
          <i class="fa fa-home fa-fw">Video Operacional</i></a></li>
  
      </ul>
      <ul class="nav navbar-nav">
        <li class="active"  ><a>Video Tecnico</a></li>
  
      </ul>
      <ul class="nav navbar-nav">
        <li class="active"  ><a>CV</a></li>
  
      </ul>
      <ul class="nav navbar-nav">
        <li class="active" > <a
          class="nav-link"
          [routerLink]="['/getallfiles']">
          <i class="fa fa-home fa-fw">Ver Archivos</i></a></li>
  
      </ul>
      <ul class="nav navbar-nav">
        <li class="active"  ><a>Objetivos</a></li>
  
      </ul>
      <!--<ul class="nav navbar-nav">
        <li class="active"  > <a [routerLink]="['/actividades']" class="btn btn-link">Crear Actividad</a>
        </li>
  
      </ul>-->
      <ul class="nav navbar-nav navbar-right">
  
        <li><a href="#"><span class="glyphicon glyphicon-log-in" (click)="logOut()"></span> Salir</a></li>
      </ul>
    </div>
  </nav>
