<nav  class="navbar navbar-inverse">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li class="active"  ><a>Home</a></li>

    </ul>
    <ul class="nav navbar-nav">
      <li class="active" > <a
        class="nav-link"
        [routerLink]="['/personas']">
        <i class="fa fa-home fa-fw">Personas</i></a></li>

    </ul>
    <ul class="nav navbar-nav">
      <li class="active"  ><a>Actividades</a></li>

    </ul>
    <ul class="nav navbar-nav">
      <li class="active" > <a
        class="nav-link"
        [routerLink]="['/videooperacional']">
        <i class="fa fa-home fa-fw">Video Operacional</i></a></li>

    </ul>
    <ul class="nav navbar-nav">
      <li class="active"  ><a>Video Tecnico</a></li>

    </ul>
    <ul class="nav navbar-nav">
      <li class="active"  ><a>CV</a></li>

    </ul>
    <ul class="nav navbar-nav">
      <li class="active" > <a
        class="nav-link"
        [routerLink]="['/getallfiles']">
        <i class="fa fa-home fa-fw">Ver Archivos</i></a></li>

    </ul>
    <ul class="nav navbar-nav">
      <li class="active"  ><a>Objetivos</a></li>

    </ul>
    <!--<ul class="nav navbar-nav">
      <li class="active"  > <a [routerLink]="['/actividades']" class="btn btn-link">Crear Actividad</a>
      </li>

    </ul>-->
    <ul class="nav navbar-nav navbar-right">

      <li><a href="#"><span class="glyphicon glyphicon-log-in" (click)="logOut()"></span> Salir</a></li>
    </ul>
  </div>
</nav>
 

  <div class="container">
    <p class="lead"> Bienvenido a tu Registro de Actividades
    </p>
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate >
          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Cedula</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Horas Por dia</th>
                <th scope="col">Dias Por Trabajar</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="table-active" scope="row">{{currenPersona.cedula}}</th>
                <td class="table-active">{{currenPersona.nombres}}</td>
                <td class="table-active">{{currenPersona.apellidos}}</td>
                <td>{{currenPersona.horasPorDia}}</td>
                <td>{{currenPersona.diasTrabajados}}</td>
              </tr>
            </tbody>
          </table>
    <br />
    <div class='loadExcelInput' style="text-align:center">
        <label>
          <input type="file" (change)="selectFile($event)">
          </label>
          <button [disabled]="!selectedFiles"
      (click)="upload()">Cargar Archivo TXT.</button>
        </div>  
  </form>
 <!-- <div>
      <data-table
      [title]="''"
      [items]="items" 
      [itemCount]="itemCount"  
      [showReloading]="true"
      (reload)="reloadItems($event)"  class="data-table-row"> 
      <data-table-column
      property="policiesInsurance"
      header="Número de Póliza"
      [sortable]="true">
      </data-table-column>
      <data-table-column
      property="cliente"
      header="Cliente"
      [sortable]="true">
      </data-table-column>
      <data-table-column
      property="nuIdentification"
      header="Identificación"
      [sortable]="true">
      </data-table-column>
      <data-table-column
      [property]="'socialDenomination'"
      [header]="'Aseguradora'"
      [sortable]="true">
      </data-table-column>
      <data-table-column
      property="nameProduct"
      header="Producto"
      [sortable]="true">
      </data-table-column>
      <data-table-column
      property="startDate"
      header="Fecha Inicio"
      [sortable]="true">
      </data-table-column>
      <data-table-column
      property="endDate"
      header="Fecha Fin"
      [sortable]="true">
      </data-table-column>
      <data-table-column
      property="paymentDay"
      header="Día de Pago"
      [sortable]="true">
      </data-table-column>
    </data-table>

  </div>-->