<!--En profile es donde cargamos el dasboard y preferiblemente 
podriamos mostrar unas graficas donde muestre el maximo de hora trabajadas-->
<nav  class="navbar navbar-inverse">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li class="active"  ><a>Home</a></li>

    </ul>
    <ul class="nav navbar-nav">
      <li class="active" > <a
        class="nav-link"
        [routerLink]="['/personas']">
        <i class="fa fa-home fa-fw">Personas</i></a></li>

    </ul>
    <ul class="nav navbar-nav">
      <li class="active"  ><a>Actividades</a></li>

    </ul>
    <ul class="nav navbar-nav">
      <li class="active" > <a
        class="nav-link"
        [routerLink]="['/videooperacional']">
        <i class="fa fa-home fa-fw">Video Operacional</i></a></li>

    </ul>
    <ul class="nav navbar-nav">
      <li class="active"  ><a>Video Tecnico</a></li>

    </ul>
    <ul class="nav navbar-nav">
      <li class="active"  ><a>CV</a></li>

    </ul>
    <ul class="nav navbar-nav">
      <li class="active" > <a
        class="nav-link"
        [routerLink]="['/getallfiles']">
        <i class="fa fa-home fa-fw">Ver Archivos</i></a></li>

    </ul>
    <ul class="nav navbar-nav">
      <li class="active"  ><a>Objetivos</a></li>

    </ul>
    <!--<ul class="nav navbar-nav">
      <li class="active"  > <a [routerLink]="['/actividades']" class="btn btn-link">Crear Actividad</a>
      </li>

    </ul>-->
    <ul class="nav navbar-nav navbar-right">

      <li><a href="#"><span class="glyphicon glyphicon-log-in" (click)="logOut()"></span> Salir</a></li>
    </ul>
  </div>
</nav>

<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h6 class="display-3">  <strong>{{currentUser.fullName}}</strong>, Ya puedes darle uso a tu App </h6>
    <p class="lead"> Bienvenido a tu Perfil
    </p>
    <div class="row">
        <div class="card-body">
          <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate >
          <div class="form-group">
              <div class="form-row">
                  <div class="col-md-2">
                   </div>
                  <div class="col-md-4">
                      <br />
                      <label>Nombres</label>
                      <br />
                      <input  type="text"  class="form-control col-md-2" name="nombres" id="nombres" [(ngModel)]="persona.nombres" #fullName="ngModel" required />
                      <br />
                    <label for="id_status"> Cedula </label>
                    <input  type="text"  class="form-control col-md-2" name="cedula" id="cedula" [(ngModel)]="persona.cedula" #fullName="ngModel" required />                    
                    <br /><label>Apellidos</label>
                        <br />
                        <input  type="text"  class="form-control col-md-2" name="apellidos" id="apellidos" [(ngModel)]="persona.apellidos" #fullName="ngModel" required />                    
                        <br /> </div>
                  <br />
                  <div class="col-md-2"><br />
                    <label for="id_status"> Dias a Trabajar </label>
                    <input  type="text"  class="form-control col-md-2" name="diasTrabajados" id="diasTrabajados" [(ngModel)]="persona.diasTrabajados" #fullName="ngModel" required />                    
                    <br />
                    <label for="id_status"> Horas Por Dia </label>
                    <br />
                    <input  type="text"  class="form-control col-md-2" name="horasPorDia" id="horasPorDia" [(ngModel)]="persona.horasPorDia" #fullName="ngModel" required />                    
                    
                  </div>                              
                <div class="col-md-2">
                  <label>&nbsp;</label>
                  <br />
                  <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Crear</button>
                </div>
                  
              </div>          
            </div>
          </form>
          </div>
  
      </div>  

  </header>
</div>








